<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2019学年第二学期课表导出工具</title>
</head>
<body style="font-size:30px">
<h3 style="text-align: center">浙江工业大学<br>2019学年 第二学期<br>课表导出工具</h1>
<form style="text-align: center" action="/index/" method="post">
    <label>学号:
        <input type="text" name="id"/>
    </label>
    <br><br>
    <label>密码:
        <input type="password" name="password"/>
    </label>
    <br><br>
    <input type="submit" value="下载课表文件"/>
</form>
</body>
</html>