<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>2019学年第二学期课表导出工具</title>
</head>
<body style="font-size:30px">
<script>
    function disable() {
        alert("正在生成，请耐心等待");
        document.getElementById("form").submit();
        document.getElementById("button").disabled = "disabled";
    }
</script>
<h3 style="text-align: center">浙江工业大学<br>2019学年 第二学期<br>课表导出工具</h3>
<form style="text-align: center" action="/index/" method="post" id="form">
    <label>学号:
        <input type="text" name="id"/>
    </label>
    <br><br>
    <label>密码:
        <input type="password" name="password"/>
    </label>
    <br><br>
    <input type="submit" onClick="disable()" id="button" value="下载课表文件"/>
</form>
<br>
<h4 style="font-size:15px;text-align: center">MIUI用户请下载<a href="https://pan.zjut.edu.cn/share/d28ba2afc15b6c5283507c7291">锤子日历</a>导入日历文件</h4>
</body>
</html>